body, html {
    height: 100%;
    margin: 0;
    font-size: 30px;
    font-family: 'Space Mono', monospace;
    color: #acf184;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}

h1 {
        font-weight: 700;
}

.content {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.7);
        background: url(../images/space.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        overflow: auto;
}

form {
    margin-top: 50px;
}

#movie-buttons {
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, .7);
}

.movie {
    border: 5px solid #5a7e44;
    font-size: 20px;
    margin-right: 5px;
    padding: 12px 20px;
    background-color: rgb(1, 75, 65);
    color: yellow;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #d0d0d0;
}

.movie-success {
    border-color: #8a6d3b;
}

.movie:hover {
    background-color: rgb(29, 18, 1);
    color: rgb(252, 235, 7); 
    border-color: #e7b77a;
    box-shadow: 10px 10px 5px #000000;
}

#bg { 
    background-image: url("../images/landscape.jpg");
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
}

#gifs-appear-here {
    max-width: 1200px;

}

.item {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 50px;
    float: left;
}